.App {
  text-align: center;
  background: black;
}

.page {
  width: auto;
  height: 100%;
  min-height: 5em;
  background: black;
/*  margin-right: auto;
  margin-left: auto;
  margin-top: 0em;
  padding: 2em;*/
  z-index: 15000;
  background-size: cover;
  background-position: center center;
}

.main {
  background-image: url("assets/tube_amp.jpg");
 /* background-size: cover;*/
}

.product {
  background-image: url("assets/tube_amp2.jpg");
}

.about {
  background-image: url("assets/vynil_technics.jpg");
}

.contact {
  background-image: url("assets/vynil_technics (1).jpg");
}
